.container-seven {
    position: relative;
    width: 120rem;
    height: 30rem;
    margin: 1rem auto;
    max-width: 100%;
    overflow: hidden;

}

.instruction {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}

.instruction-shag {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.title-text-shag h3 {
    font-family: 'CopperplateBold';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.625rem;
    color: #FFFFFF;
}
.main-text{
    display: flex;
    flex-direction: column;
}
.main-text h3{
    color:white;
    font-family: 'Copperplate';
}
.block-shag1 {
    display: flex;
    margin-left: 0.1875rem;
}

.block-shag1-outer {

    margin-right: 1.2rem;
}

.block-shag1-inner {
    font-family: 'Copperplate';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    display: flex;
    text-align: center;
    color: #FFFFFF;
    border: 0.25rem solid #FDBF0F;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0.3125rem 0.8125rem;
    max-width: 2.875rem;
}

.block-shag1-text {
    font-family: 'Copperplate';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    display: flex;
    align-items: center;
    color: #FEFEFE;
    margin: 0;
    margin-right: 0.4rem;
    width: 14rem;
}

.block-icon {
    margin-top: 1.5rem;
    margin-right: 1.5625rem;
}

.block-shag2 {
    display: flex;
}

.block-shag2-outer {

    margin-right: 1.2rem;
}

.block-shag2-inner {
    font-family: 'Copperplate';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 0.25rem solid #FDBF0F;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0.3125rem 0.8125rem;
    max-width: 2.875rem;
}

.block-shag2-text {
    font-family: 'Copperplate';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    display: flex;
    align-items: center;
    color: #FEFEFE;
    margin: 0;
    margin-right:0.4rem;
    width: 14rem;
}