.container-three {
    display: flex;
    /* display: flex; */
    position: relative;
    margin: 0rem auto;
    width: 121rem;
    max-width: 100%;
    height: 45rem;
    left: 0;
    top: 0;

    z-index: 0;
    overflow: hidden;
    flex-wrap: wrap;
}




.block-two {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 68.75rem;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.block-blocks-one {
    display: flex;

}

.block-blocks-two {
    display: flex;

}

.block-blocks-left,
.block-blocks-right {
    display: flex;
    width: 23.375rem;
    max-width: 100%;
    height: 7.5rem;
    justify-content: center;
    align-items: center;
    margin: 2.9375rem 1.375rem 0 0;
}

.block-two p {
    font-family: 'Copperplate';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;
    width: 15rem;
    color: rgb(40,69,225);
}
.white-fon{
    margin:0 auto;
position: absolute;
width: 120rem;
height: 38rem;
left: 0;
top: -2.5rem;
z-index: -1;
background: linear-gradient(180deg, rgb(3,7,37) 15%, rgba(255, 255, 255, 0) 88.03%);
}
.icon-6{
    width:3.5rem;
}
.block-text-right {
    width: 15.75rem;
    max-width: 100%;
    margin-left: 1.25rem;
}

.block-two-title h2 {

    font-family: 'CopperplateBold';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.625rem;
    color: #2e60e7;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/