@font-face {
    font-family: "Copperplate";  
    src: url("../fonts/copperplate.otf") format("opentype"); 
    font-style: normal; 
    font-weight: normal;
     }
     
    @font-face{
    font-family: "CopperplateBold";
    src: url("../fonts/copperplate_bold.otf") format("opentype");
    font-style: normal; 
    font-weight: normal; 
    }
        
body {
    margin:0 auto;
    padding: 0;
}
html{
    font-size: 16px;
}